
#section2container{
    position: relative;
    margin: 3.125rem auto;
    /*top: 3.125rem;*/
    width: 85%;
    /*margin: auto;*/
    /*display: flex;*/
    /*justify-content: space-between;*/

}
#section2containeritem1{
    display: block;
    width: 100%;

    height: auto;
    background: #f0f0f0;
    /*border-radius: 3.125rem;*/
}

.TrangChu{
    color: white;
}





.section2containeritem2{
    margin: 3.125rem auto;
    width: 12.5rem;
    /*display: flex;*/
    /*flex-direction: column;*/

}

.button2{
    /*padding: 1rem;*/
    /*display: block;*/

    /*margin:auto 2.5rem 1.25rem auto;*/
    margin-bottom: 1.25rem;
    text-decoration: none;
}
.section1shop{
    margin: 0;
}

select{
    /*font-family: JosefinSans,serif;*/
    /*width: 3.75rem;*/
    /*height: 1.875rem;*/
    border-radius: 0.2rem;
    border: 0.0625rem solid gray;
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
    padding: 0.5rem;
    font-family: JosefinSans,serif;
    font-size: 1rem;
}
option{
    /*padding-top: 0.5rem;*/
    /*position: static;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding: 1rem;*/
}


@media (max-width: 800px) {
    #section2container{
        width: 100%;
    }
    #section2container table{
        width: 330px;
        overflow: scroll;
    }
}

