
body {
    position: relative;
}

#title {
    /*margin-bottom: 1.25rem;*/
    padding-left: 1.375rem;
    background: #282828;
    color: #282828;
    height: auto;
}


section {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    /*height: 43.875rem;*/
    width: 100%;
}

#backgroundimage {
    /*width: 100%;*/
    z-index: -99999999;
    /*top: 80px;*/
    position: absolute;
    opacity: 0.2;
    animation-duration: 1s;
    animation-name: imagechange;
    /*position: relative;*/
    /*width:100%;*/
    height: 100%;
    /*margin: auto;*/
    /*right: 6.25rem;*/
}

section img {
}

@keyframes imagechange {
    from {
        opacity: 0
    }

    to {
        opacity: 0.2
    }
}


#formDangKy {
    width: 85%;
    /*display:flex;*/
    /*justify-content:space-between;*/
    /*text-align: center;*/
    position: relative;
    /*top: 1.875rem;*/
    margin: auto;
}



label {
    /*margin:0 auto;*/
}

label input {
    background: none;
    width: 100%;
}

.unique input {
    display: block;
}

.uni1 {
    /*display: inline-block;*/
    width: 100%
    /*overflow: hidden;*/
}

@keyframes lefttoright {
    from {
        left: 125rem
    }

    to {
        left: 0
    }
}

#item1 {
    /*overflow: hidden;*/
    /*width: 24.35rem;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
    animation-duration: 1.2s;
    animation-name: lefttoright;
}

#item2 {
    position: relative;
    animation-duration: 1.4s;
    animation-name: lefttoright;
}

.gioitinh {
    position: relative;
    animation-duration: 1.6s;
    animation-name: lefttoright;
}

.gioitinh label input {
    width: auto;
    /*display: inline-block;*/
}

#item7 {
    position: relative;
    animation-duration: 1.8s;
    animation-name: lefttoright;
}

#item3 {
    position: relative;
    animation-duration: 2s;
    animation-name: lefttoright;
}

#item3 p {
    margin: 0;
}

#item4 {
    position: relative;
    animation-duration: 2.2s;
    animation-name: lefttoright;
}

#item5 {
    position: relative;
    animation-duration: 2.4s;
    animation-name: lefttoright;
}

#item6 {
    position: relative;
    animation-duration: 2.6s;
    animation-name: lefttoright;
}






.checkbox {
    align-items: center;
    position: relative;
    animation-duration: 2.8s;
    animation-name: lefttoright;
    margin: 1.25rem auto auto;
    display: flex;
}



.checkbox p {
    margin: 0;
}

.checkbox a {
    text-decoration: none;
    color: #F970A3;
    margin-left: 0.625rem;
}

#btnXacNhan {
    background-color: #F970A3;
    position: relative;
    animation-duration: 3s;
    animation-name: lefttoright;
}

.checkboxstyle {
    font-size: 1.25rem;
    height: auto;
}

.TrangChu {
    color: white;
}


.containter {
    margin: 3.125rem 0;
    line-height: 2.5rem;
    display: flex;
    width: 100%;

    justify-content: space-between;
    /*flex-direction: column;*/
}

.fromContainer {
    width: 45%;
}

#footerRegister {
    top: 0;
    position: relative;
    /*bottom: 1231.875rem;*/
}

@media (max-width: 800px) {
    .containter {
        margin: 3.125rem 0;
        line-height: 2.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        /*flex-direction: column;*/
    }

    .containter label {
        width: 90%;
    }

    .fromContainer {
        width: 100%;
    }
}
