.xacnhanoo {
    margin-top: 2.5rem;
}


#formThongtincontainer {
    display: flex;
}

.section2containeritem1 {
    position: relative;
    top: 3.125rem;
    margin: auto;
}

.section2 {
    margin: 0;
    /*z-index: 999999999;*/
    /*height: 36.25rem;*/
}

.section2 h1 {
    text-align: center;
}

.section3 {
    margin: 0 0 3.125rem 0;
}

.section3 h1 {
    text-align: center;
}


#form {
    margin: 0;
}

/*section {*/
/*    margin: 3.125rem auto;*/
/*}*/

#item1 {
    animation-name: none;
}

#item2 {
    animation-name: none;
}

#item3 {
    animation-name: none;
}

#item4 {
    animation-name: none;
}

#item5 {
    animation-name: none;
}

#item6 {
    animation-name: none;
}

#item7 {
    animation-name: none;
}

#xacnhan {
    animation-name: none;
}

.gioitinh {
    animation-name: none;
}

@media (max-width: 800px) {
    .section2container {
        width: 100%;
    }

    .section2container table {
        width: 90%;
    }
}
