body{
    /*display: flex;*/
    /*overflow: hidden;*/
    background: #ffffff;
    margin: auto;
    padding: 0;
    width: 100%;
    /*width: 1366px;*/
    /*height: 40.9375rem;*/
    font-family: JosefinSans,serif;
}

.TrangChu{
    color: white;
}

#headerLogin{
    display: flex;
    /*flex-direction:;*/
    height: 40.9375rem;
    /*height: auto;*/
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #FA8CB5;
}

#section1{
    width: 30%;
    height: 40.9375rem;
}
.buttonsub{
    margin: 1rem;
    height: auto;
}

#container1{
    position: relative;
    /*top: 1.875rem;*/
    text-align: center;

    width: 30%;
    height: 100%;
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

#container1 form{
    height: auto;
    margin: 2.125rem 0;
    width: 100%;
}



.titleDangNhap{
    margin-top: 1.875rem;
}

.loginFormContainer{
    display: flex;
    flex-direction: column;
}
.loginFormContainer input {
    margin: 0.75rem auto;
    width: 80%;
}


#checkbox{
    width: auto;

}

#container1 div{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /*top:1.875rem;*/
    /*height: 2.25rem;*/
}




.bigbutton{
    position: relative;
    /*padding-top: 1.25rem;*/
    padding: 0.625rem;
    width: 12.5rem;
    margin: auto;
    border-radius: 3.125rem;
    height: 3.125rem;
    background: #FA8CB5;
    color: white;
}


.bigbutton:hover{
    background: #282828;
}

#container2{
    background: #607d8b;
    text-align: center;
    width: 70%;
    height: 40.9375rem;
    margin: auto;
    cursor: pointer;
}




.container_inner{
    display: flex;
    height: 33.333%;
}



#griditem1{
    cursor: auto;
    width: 60%;
    /*background: url("../../Image/login/123123.jpg") no-repeat center top;*/
    background-size: 100%;
}

#griditem1 form h1{
    margin: 0;
    padding-top: 1.875rem;
}

#griditem1 form {
    height: 13.125rem;
}

#griditem2{
    width: 40%;
}


.item h2{
    z-index: 22;
    padding: 3.125rem;
    background: #FA8CB5;
    color: white;
    opacity: 0.8;
    /*top: 13.125rem;*/
    /*left: 11.25rem;*/
    /*position: absolute;*/
    text-shadow: 1px 1px 1px white;
}


#griditem3{
    width: 40%;
}



/*#griditem3 h2{*/
/*    padding: 4px;*/
/*    background: #FA8CB5;*/
/*    color: white;*/
/*    opacity: 0.8;*/
/*    top: 13.125rem;*/
/*    left: 140px;*/
/*    position: absolute;*/
/*    text-shadow: 1px 1px 1px white;*/
/*}*/
#griditem4{
    width: 60%;
}

/*#griditem4 h2{*/
/*    padding: 4px;*/
/*    background: #FA8CB5;*/
/*    color: white;*/
/*    opacity: 0.8;*/
/*    top: 13.125rem;*/
/*    !*margin: auto;*!*/
/*    left: 23.125rem;*/
/*    position: absolute;*/

/*    text-shadow: 1px 1px 1px white;*/
/*}*/

#griditem5{
    color: black;
    width: 30%;
}

/*#griditem5 h2{*/
/*    padding: 4px;*/
/*    background: #FA8CB5;*/
/*    color: white;*/
/*    opacity: 0.8;*/
/*    top: 13.125rem;*/
/*    left: 70px;*/
/*    position: absolute;*/
/*    text-shadow: 1px 1px 1px white;*/
/*}*/

#griditem6{
    width: 40%;
    background: black;
}



/*#griditem6 h2{*/
/*    padding: 4px;*/
/*    background: #FA8CB5;*/
/*    color: white;*/
/*    opacity: 0.8;*/
/*    top: 13.125rem;*/
/*    left: 11.875rem;*/
/*    position: absolute;*/
/*    text-shadow: 1px 1px 1px white;*/
/*}*/

#griditem7{
    width: 30%;
    background: #ff5722;
}

/*#griditem7 h2{*/
/*    padding: 4px;*/
/*    background: #FA8CB5;*/
/*    color: white;*/
/*    opacity: 0.8;*/
/*    top: 13.125rem;*/
/*    left: 10.625rem;*/
/*    position: absolute;*/
/*    text-shadow: 1px 1px 1px white;*/
/*}*/

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.item img{
    /*display: none;*/
    /*z-index: -1;*/
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.item:hover img{
    color: white;
    transform: scale(1.2);
}

#footerRegister{
    top: 0;
    position: relative;
    /*bottom: 1231.875rem;*/
}

@media (max-width: 1366px) {
    /*img{*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*}*/
    #footerRegister{
        /*top: 0;*/
        /*position: relative;*/
        /*background: #282828;*/
        /*bottom: 1231.875rem;*/
    }
}

@media (max-width: 800px) {
    #container1{
        width: 100%;
    }
}
