@font-face {
    font-family: JosefinSans;
    src: url("../font/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: GreatVibes;
    src: url("../font/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: Pacifico;
    src: url("../font/Pacifico-Regular.ttf");
}