h1 {
    margin: 0;
    padding: 0;
}

.section1shop {
    margin: 0;
}


/* SLIDE TO DUNG IMAGE */
#img1 {
    height: 100%;
    /*background-image: url("../Image/product/2.jpg");*/
    /*background-size: 100%;*/
}

#img2 {
    height: 100%;
    /*background-image: url("../Image/product/productdetail/mini4/1.JPG");*/
    /*background-size: 100%;*/
    display: none;
}

#img3 {
    height: 100%;
    /*background-image: url("../Image/product/3.jpg");*/
    /*background-size: 100%;*/
    display: none;
}

/* SLIDE TO DUNG IMAGE */

#ChiTietSanPhamDOT {
    z-index: 9999999999999;
    /*right: 3.125rem;*/
    /*bottom: 6.25rem;*/
}

#titleChiTietSanPham {
    margin-top: 0;
}


#ChiTietSanPhamSection1 {
    margin: 0;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
}

#ChiTietSanPhamBoCuc {
    margin: 3.125rem auto auto auto;
    position: relative;
    /*top: 6.25rem;*/
    display: flex;
    width: 85%;
    /*margin: auto;*/
    justify-content: space-between;
}

.ChiTietSanPhamSection1Item {
    border-radius: 1.875rem;
    box-shadow: 0.125rem 0.125rem 1.25rem gray;
}

#ChiTietSanPhamSection1Item1 {
    width: 25rem;
    height: 43.75rem;
    z-index: 1;
}

#ChiTietSanPhamSection1Item2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    line-height: 1.25rem;
}

#ChiTietSanPhamSection1Item2 h2 {
    color: #d3364a;
}

#ChiTietSanPhamSection1Item2 h3 {
    width: 20%;
}

#ChiTietSanPhamTinhTrang {
    display: inline-block;
    margin: 0;
}

.TinhTrang {
    display: flex;
    align-items: center;
}

.TinhTrang1 {
    display: flex;
    /*align-items: center;*/
}

.TinhTrang select {
    padding: 0.5rem;
}

.TrangChu {
    color: white;
}


.ChiTietSanPhamNutXacNhan {
    position: relative;
    width: 45%;
    padding: 0.8rem;
    height: auto;
    /*top:1.25rem;*/
}

.muangaybuttonstyle {
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FA8CB5;
}

.box {
    border: 0.1875rem solid #eee;
    display: none;
    height: 6.25rem;
    /*margin-top: 0.3125rem;*/
    /*padding: 0.625rem;*/
    /*width: auto;*/
}

#ChuaTab {
    position: relative;
    margin-top: 3.125rem;
    /*top: 6.25rem;*/
}

#ChuaTab img {
    float: left;
    margin-right: 1rem;
}

#BlogTab {
    /*position: relative;*/
    padding: 3.125rem 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}


#BlogTab input {
    margin: auto 20px;
    background: none;
    border: none;
    font-size: 15px;
    font-family: JosefinSans,serif;
}

.chiTietItem {
    width: 80%;
    margin: auto;
}

.DanhGia {
    display: flex;
    flex-direction: row;
}

.DanhGia ul {
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: space-between;*/
}

.DanhGia li {
    list-style-type: none;
    margin: 0.1rem;
}

.DanhGia1 {
    margin-right: 1rem;
}

.DanhGia2 h2 {
    margin: 0;
}


.DanhGia2Textarea textarea {
    border-radius: 0.5rem;
    width: 100%;
    margin: auto;
}

.DanhGia2Textarea textarea::placeholder {
    font-family: JosefinSans,serif;
}

.BinhLuan {
    width: 20%;
    /*top:1.25rem;*/
}

#chiTietItem2 {
    display: none;
}

#chiTietItem3 {
    display: none;
}


.sizeChiTietSanPham {
}

.tab {
    border: none;
    font-family: JosefinSans, serif;
    font-size: 1.25rem;
    width: 100%;
    height: 2.1875rem;
    margin-bottom: 0.625rem;
}

#ChiTietSanPhamSection2 {
    position: relative;
    margin-top: 3.125rem;
    /*top: 12.5rem;*/
}

#imageContainer {
    width: 100%;
}
